$colorPrimary: #273270;
$colorPrimaryDarken: darken($colorPrimary, 20);
$colorPrimaryLighten: lighten($colorPrimary, 20);

$colorWhite: #ffffff;
$colorBlack: #000000cc;

$colorGrey1: $colorPrimary;
$colorGrey2: #3F373F;
$colorGrey3: #8c878c;
$colorGrey4: #dcd9dc;

$tabColor: $colorGrey1;
$tabColorSelected: $colorPrimaryDarken;
$tabSelectedLine: $colorPrimaryDarken;

$labelColor: rgba(0,0,0,.6);

$btnPrimaryBg: $colorPrimary;
$btnPrimaryBgHover: $colorPrimaryDarken;
$btnPrimaryBorder: $colorPrimary;
$btnPrimaryBorderHover: $colorPrimaryDarken;
$btnPrimaryColor: $colorWhite;
$btnPrimaryColorHover: $colorWhite;

$btnSecondaryBg: $colorWhite;
$btnSecondaryBgHover: $colorWhite;
$btnSecondaryBorder: $colorPrimary;
$btnSecondaryBorderHover: $colorPrimaryDarken;
$btnSecondaryColor: $colorPrimary;
$btnSecondaryColorHover: $colorPrimaryDarken;

$linkColor: $colorPrimary;
$linkColorHover: $colorPrimaryDarken;


/*  severity */
$form-error: #FF0000;
$warning-text: #7e6f00;
$warning-bg: #faf2b2;
$warning-border: #fbd81c;
