@font-face {
	font-family: "Nunito";
	src: url("beratungCustom/fonts/custom/Nunito/static/Nunito-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Nunito";
	src: url("beratungCustom/fonts/custom/Nunito/static/Nunito-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Nunito";
	src: url("beratungCustom/fonts/custom/Nunito/static/Nunito-Bold.ttf");
	font-weight: 700;
}
